@font-face {
    font-family: proximanova_regular_400;
    src: url(../fonts/proximanova_regular_400.ttf);
}
@font-face {
    font-family: ElMessiri;
    src: url(../fonts/ElMessiri.ttf);
}
@font-face {
    font-family: proximanova_bold_700;
    src: url(../fonts/proximanova_bold_700.otf);
}
@font-face {
    font-family: proximanova_light_300;
    src: url(../fonts/proximanova_light_300.otf);
}