.seans{
    display: flex;
    max-width: 1298px;
    margin: 0 auto;
    margin-top: 150px;
    justify-content: center;
}
.seans-header__icon-left{
    margin-right: 45px;
}
.seans-header__icon-right{
    margin-left: 45px;
}
.seans__header{
    font-family: ElMessiri;
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    line-height: 140%;
}
.seans__image{
    display: flex;
    max-width: 1298px;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
    flex-direction: row;
}
.seans-image__container_01{
    width: 416px;
    height: 540px;
    background-image: url(../img/seans_01.png);
    float: left;
}
.seans-image__text_01{
    font-family: ElMessiri;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color: #ffffff;
    margin-left: 50px;
    position: absolute;
    top: 456px;
}
.seans-image__container_02{
    width: 416px;
    height: 258px;
    background-image: url(../img/seans_02.png);
    margin: 0 24px 24px 24px;
}
.seans-image__container_03{
    width: 416px;
    height: 258px;
    background-image: url(../img/seans_02.png);
    margin: 0 24px 0 24px;
}
.seans-image__container_04{
    width: 416px;
    height: 258px;
    background-image: url(../img/seans_02.png);
    margin-bottom: 24px;
    
}
.seans-image__container_05{
    width: 416px;
    height: 258px;
    background-image: url(../img/seans_02.png);
}
.seans-image__text_02{
    font-family: ElMessiri;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    color: #ffffff;
    margin-left: 40px;
    position: absolute;
    top: 194px;
}
.seans-image__text_03{
    font-family: ElMessiri;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    color: #ffffff;
    margin-left: 40px;
    position: absolute;
    bottom: 30px;
}
.seans-image__text_04{
    font-family: ElMessiri;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    color: #ffffff;
    margin-left: 40px;
    position: absolute;
    top: 160px;
}
.seans-image__text_05{
    font-family: ElMessiri;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    color: #ffffff;
    margin-left: 40px;
    position: absolute;
    bottom: 30px;
}